<div>
  <input id="address" type="textbox" value="Enter Your City" onkeypress="if(event.keyCode==13)codeAddress()">
  <input type="button" value="Encode" onclick="codeAddress()">
</div>
<div id="map"></div>

<script>
  var map = null
  var geocoder;
  function initMap() {
    // Styles a map in night mode.
    geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 39.7392,
        lng: -104.9903
      },
      zoom: 14,
      disableDefaultUI: true,
      minZoom: 3,
      maxZoom: 18,
      styles: [
        {
          "featureType": "administrative",
          "elementType": "all",
          "stylers": [
            {
              "saturation": "-100"
            }
          ]
        }, {
          "featureType": "administrative.province",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
            {
              "saturation": -100
            }, {
              "lightness": 65
            }, {
              "visibility": "on"
            }
          ]
        }, {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }, {
          "featureType": "road",
          "elementType": "all",
          "stylers": [
            {
              "saturation": "-100"
            }
          ]
        }, {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [
            {
              "visibility": "simplified"
            }
          ]
        }, {
          "featureType": "road.arterial",
          "elementType": "all",
          "stylers": [
            {
              "lightness": "30"
            }
          ]
        }, {
          "featureType": "road.local",
          "elementType": "all",
          "stylers": [
            {
              "lightness": "40"
            }
          ]
        }, {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [
            {
              "saturation": -100
            }, {
              "visibility": "simplified"
            }
          ]
        }, {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "hue": "#ffff00"
            }, {
              "lightness": -25
            }, {
              "saturation": -97
            }
          ]
        }, {
          "featureType": "water",
          "elementType": "labels",
          "stylers": [
            {
              "lightness": -25
            }, {
              "saturation": -100
            }
          ]
        }
      ]
    });
  }
  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode({
      'address': address
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API'] %>&callback=initMap" async="async" defer="defer"></script>
<script>
  function sendMapData() {
    $.post("/api/v1/maps", {
      lat: map.getCenter().lat,
      long: map.getCenter().lng,
      zoom: map.getZoom()
    }, function (data) {
      if (data["success"]) {
        window.location.replace("/orders/new")
      }
    }, 'script');
  };
</script>

<button id="sendMapDataButton" onclick="sendMapData()">Use This Map</button>
