<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a href="/"><img class="logo-image" src="/assets/flaglogo.png" alt=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/maps/new">Create a Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders/new">Orders</a>
      </li>
    <li>

      </li>
      <% if current_user %>
        <li class="nav-item dropdown mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/orders/<%= current_user.id %>">Your Orders</a>
            <a class="dropdown-item" href="#">Saved Maps</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      <% else %>
          <%= link_to "Log In", google_oauth2_login_path %>
      <% end %>

    </ul>
  </div>
</nav>
